[submodule "external_submodules_1/tree-sitter-java"]
	path = external_submodules_1/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "external_submodules_2/tree-sitter-java"]
	path = external_submodules_2/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "external_submodules_1/tree-sitter-c-sharp"]
	path = external_submodules_1/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "external_submodules_2/tree-sitter-c-sharp"]
	path = external_submodules_2/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "external_submodules_1/tree-sitter-go"]
	path = external_submodules_1/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "external_submodules_2/tree-sitter-go"]
	path = external_submodules_2/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
